openapi: 3.0.3
info:
  title: PlanCraft GPT Actions API
  version: 1.0.0
  contact:
    name: PlanCraft AI
    email: hello@plancraftai.com
    url: https://plancraftai.com
  description: |
    GPT Actions surface to create tasks, sync reminders, and capture daily journal entries
    on behalf of authenticated PlanCraft users. All endpoints require a bearer token issued
    by `/api/gpt/auth` and operate in the user's timezone when provided.
servers:
  - url: https://api.plancraftai.com
    description: Production
  - url: http://localhost:4000
    description: Local development
security:
  - BearerAuth: []
paths:
  /api/tasks/create:
    post:
      operationId: createTask
      summary: Create a new task inside a user's PlanCraft timeline.
      tags: [Tasks]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              focusTask:
                summary: Morning focus block
                value:
                  userId: user_12345
                  title: Deep work sprint
                  details: Finish Q1 budget narrative
                  date: 2025-02-18
                  reminderTime: "09:00"
                  timezone: America/New_York
                  reminderChannels: ["pwa", "whatsapp"]
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
        '400':
          description: Missing parameters
        '401':
          description: Invalid or expired token
  /api/reminders/sync:
    post:
      operationId: syncReminders
      summary: Schedule one or more reminders tied to tasks or free-form nudges.
      tags: [Reminders]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReminderSyncRequest'
            examples:
              hydrationStack:
                summary: Stack reminders for the afternoon
                value:
                  userId: user_12345
                  reminders:
                    - text: Drink water and stretch
                      scheduledTime: 2025-02-18T14:00:00Z
                      timezone: America/New_York
                      channels: ["pwa"]
                    - text: Send recap to design team
                      scheduledTime: 2025-02-18T19:30:00Z
                      timezone: America/New_York
                      channels: ["email", "whatsapp"]
      responses:
        '200':
          description: Reminder jobs accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReminderSyncResponse'
        '400':
          description: Invalid payload
        '401':
          description: Invalid or expired token
  /api/journal/add:
    post:
      operationId: addJournalEntry
      summary: Capture a journal entry or reflection for the authenticated user.
      tags: [Journal]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalEntryRequest'
            examples:
              gratitude:
                summary: Evening gratitude reflection
                value:
                  userId: user_12345
                  title: Quiet wins
                  text: |
                    Wrapped the finance draft, had a peaceful walk, and stayed present.
                  mood: calm
                  tags: ["gratitude", "focus"]
                  date: 2025-02-18
      responses:
        '200':
          description: Entry saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntryResponse'
        '400':
          description: Invalid payload
        '401':
          description: Invalid or expired token
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CreateTaskRequest:
      type: object
      required: [userId, title]
      properties:
        userId:
          type: string
          description: Firebase UID / PlanCraft user id.
        title:
          type: string
          description: Short label for the task.
        details:
          type: string
          maxLength: 1000
          description: Optional context or subtasks.
        date:
          type: string
          pattern: '^\\d{4}-\\d{2}-\\d{2}$'
          description: Target date in YYYY-MM-DD format.
        reminderTime:
          type: string
          pattern: '^\\d{2}:\\d{2}$'
          description: Local reminder time (HH:mm).
        scheduledTime:
          type: string
          format: date-time
          description: ISO-8601 UTC timestamp for a specific reminder.
        timezone:
          type: string
          description: IANA timezone the reminder should respect.
        reminderChannels:
          type: array
          items:
            type: string
            enum: [pwa, whatsapp, email, sms, voice_call]
        metadata:
          type: object
          additionalProperties: true
    CreateTaskResponse:
      type: object
      properties:
        success:
          type: boolean
        task:
          type: object
          additionalProperties: true
    ReminderSyncRequest:
      type: object
      required: [userId, reminders]
      properties:
        userId:
          type: string
        reminders:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ReminderInput'
    ReminderInput:
      type: object
      required: [text, scheduledTime]
      properties:
        text:
          type: string
          description: Reminder body shown to the user.
        scheduledTime:
          type: string
          format: date-time
          description: ISO-8601 UTC timestamp.
        timezone:
          type: string
          description: IANA timezone. Defaults to the user's profile timezone.
        taskId:
          type: string
          description: Optional task id to sync reminder metadata.
        channels:
          type: array
          items:
            type: string
            enum: [pwa, whatsapp, email, sms, voice_call]
    ReminderSyncResponse:
      type: object
      properties:
        scheduled:
          type: integer
        total:
          type: integer
        reminders:
          type: array
          items:
            type: object
            additionalProperties: true
    JournalEntryRequest:
      type: object
      required: [userId, text]
      properties:
        userId:
          type: string
        title:
          type: string
          description: Optional heading for the entry.
        text:
          type: string
          description: Full journal text.
        mood:
          type: string
          description: Free-form tone such as calm, grateful, focused.
        tags:
          type: array
          items:
            type: string
        date:
          type: string
          pattern: '^\\d{4}-\\d{2}-\\d{2}$'
          description: Logical day for the entry. Defaults to the user's current day.
        summary:
          type: string
          description: Short AI-generated blurb (optional).
    JournalEntryResponse:
      type: object
      properties:
        success:
          type: boolean
        entry:
          type: object
          additionalProperties: true
