APPLE_SERVER_AUTH_ENABLED=0
APPLE_TEAM_ID=YOUR_APPLE_TEAM_ID
APPLE_CLIENT_ID=YOUR_SERVICES_ID
APPLE_KEY_ID=YOUR_APPLE_KEY_ID
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----"
APPLE_REDIRECT_URI=https://api.plancraftai.com/api/auth/apple/callback
FIREBASE_API_KEY=YOUR_FIREBASE_WEB_API_KEY
