OPENAI_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
LOGGING_LEVEL=info
NODE_ENV=production
SERVICE_APP_TOKEN=your-shared-service-token
APP_TOKEN=your-shared-service-token
CORS_ALLOW_ALL=1
